* {
	box-sizing: border-box;
	padding : 0;
	margin : 0;
	font-family: "Roboto", sans-serif;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0px auto;
	max-width: 900px;
	border-bottom: 1px solid grey;
	padding: 20px 0px;
}

.navlinks {
	list-style: none;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.logo {
	color: #6439FF;
	font-weight: bold;
	font-size: 1.5rem;
	font-family: "Jersey 15";
}

.image_container {
	margin: 50px auto;
	max-width: 900px;
	height: 70vh;
	display: flex;
	position: relative;
}

img {
	width: 100%;
	object-fit: cover;
	border-radius: 30px;
}

.arrow {
	position: absolute;
	padding: 5px;
	font-size: 2rem;
	background-color: #fff;
	height: 60px;
	width: 60px;
	display: flex;
	border-radius: 50%;
	align-items: center; 
	justify-content: center;
	cursor: pointer;
	box-shadow: 1px 1px 2px grey;
}

.left {
	top: 50%;
	left: -30px;
	transform: translateY(-50%);
}

.right {
	top: 50%;
	left: calc(100% - 30px);
	transform: translateY(-50%);
}